.daily-forecast {  
    background-color: #2c3e50;  
    padding: 20px;  
    border: 1px solid #ddd;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }  

  .hourly-forecasts-container {  
    overflow-x: auto;  
    display: flex;  
    justify-content: space-around;  
  }
    
  .hourly-forecasts {  
    display: flex;  
    flex-wrap: nowrap;  
  }  
    
  .hourly-forecast {  
    margin: 10px;  
    padding: 10px;  
    width: 120px;  
    background-color: #fff;  
    border: 1px solid #ddd;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    text-align: center;  
    border-radius: 10px;  
  }  
    
  .hourly-forecast p {  
    font-size: 14px;  
    margin-bottom: 10px;  
    color: #333;  
  }  
    
  .hourly-forecast img {  
    width: 40px;  
    height: 40px;  
    margin: 10px auto;  
  }  
    
  .weather-details-cards {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    align-items: center;  
  }  
    
  .card {  
    margin: 10px;  
    padding: 20px;  
    width: 200px;  
    background-color: #fff;  
    border: 1px solid #ddd;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    text-align: center;  
    border-radius: 10px;  
  }  
    
  .card h3 {  
    font-size: 18px;  
    font-weight: bold;  
    color: #333;  
    margin-bottom: 10px;  
  }  
    
  .card p {  
    font-size: 24px;  
    font-weight: bold;  
    color: #333;  
    margin-bottom: 10px;  
  }  
    
  .card span {  
    font-size: 14px;  
    color: #666;  
  }

  .weather-details-cards-container {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 20px;  
  }

  .filter-container {  
    display: flex;  
    justify-content: flex-end;  
    margin: 20px;  
  }  
  
  .filter-container select {  
    padding: 10px 15px;  
    border: none;  
    border-radius: 5px;  
    background-color: #03A9F4;  
    color: #fff;  
    cursor: pointer;  
  }  
    
  .filter-container select:hover {  
    background-color: #0288D1;  
    color: #fff;  
  }  
    
  .filter-container select:focus {  
    outline: none;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }
  .error-message {  
    text-align: center;  
    color: #f44336; /* Red color */  
    padding: 20px;  
    border: 1px solid #f44336;  
    border-radius: 10px;  
    background-color: #ffebee; /* Light red background */  
  }  
    
  .error-message p {  
    font-size: 18px;  
    margin-bottom: 10px;  
  }